PORT=5001
MONGODB_URI=mongodb://localhost:27017/candy_store
GMAIL_USER=placeholder@gmail.com
GMAIL_APP_PASSWORD=placeholder_password
JWT_SECRET=placeholder_secret
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=placeholder_cloud_name
CLOUDINARY_API_KEY=placeholder_api_key
CLOUDINARY_API_SECRET=placeholder_api_secret
